[submodule "huckleberry"]
	path = huckleberry
	url = https://github.com/Xelaflash/huckleberry.git
[submodule "character-creator"]
	path = character-creator
	url = https://github.com/Xelaflash/character-creator.git
	branch = main
