[submodule "huckleberry"]
	path = huckleberry
	url = https://github.com/Xelaflash/huckleberry.git
[submodule "character-creator"]
	path = character-creator
	url = https://github.com/Xelaflash/character-creator.git
	branch = main
[submodule "react_sandbox"]
	path = react_sandbox
	url = git@github.com:Xelaflash/cssforjs_react-sandbox.git
[submodule "mini-component-library"]
	path = mini-component-library
	url = git@github.com:Xelaflash/mini-component-library.git
[submodule "sole-and-ankle"]
	path = sole-and-ankle
	url = git@github.com:Xelaflash/sole-and-ankle.git
